[2015-04-13 18:03] fredericBregier opened #149 "Oracle Database VARCHAR2 limit to 4000"
Motivations:
Oracle Database VARCHAR2 is limited to 4000 while currently it is set to 8096 in Waarp.

Corrections:
Change size limit for Oracle Database support to 4000.

[2015-04-13 19:30] fredericBregier commented on #149
Commit done in WaarpCommon
Waiting for new release to close this issue

[2015-05-26 13:00] victornoel opened #153 "Can't initialize the database..."
Hi,

I'm playing with Waarp and I can't even initialize the database, I suspect there is a bug somewhere…

When I run r66init bin/Linux/conf/config-server.xml -initdb (I updated the content of the xml file of course), I get this error:
[code]

So I thought it was because of the IFEXISTS=TRUE parameter for the H2 database but if I then remove it, I get the following error:
[code]

Obviously there i

[2015-05-29 19:46] fredericBregier commented on #149
Fix in last releases

[2015-05-29 19:46] #149 closed

[2015-05-29 20:07] fredericBregier commented on #153
Not necesseraly ;-)
You have to launch the ServerInitDatabase as following: (supposely you're using Linux ENV_R66 correctly configured)
`r66init -initdb -dir /yourpath/conf/ -auth /yourpath/authent.xml`

- In the lib path, you must have (preferably) one and only one JDBC driver (here I suppose H2)
- `-initdb` is mandatory in the command line

For specific option of H2 database (as `IFEXISTS=TRUE`)

[2015-05-30 11:59] fredericBregier commented on #153
If your database was wrongly created previously, could you try to remove it and recreate it through `-initdb`option ?
I retry on my side and I've got no issue...

[2015-06-01 08:05] victornoel commented on #153
Hi, I didn't know that I should have used this syntax.

It's not clear what is /yourpath/conf/ in this scenario… I have all my settings (I think) in bin/Linux/conf/config-server.xml.
I forgot to say I was using version 3.0.2 also.
I updated the OpenR66-authent-A.xml file with information for the host I'm creating (hosta in the example given), but I'm not really sure to understand why I need authen

[2015-06-01 12:02] victornoel commented on #153
Apparently it works with 3.0.3… (just using initDb). Well actually what happens is that the error appears, but then the database is correctly initialised… and I now understand why you need the auth file: so that the database is filled with it…

Now I can't login in the web ui: I use the login/pass filled in config-serverA-minimal.xml (which is the server config I am now using, updated with the cor

[2015-06-01 18:50] fredericBregier commented on #153
@victornoel The detail of the command lines are explained here:
http://waarp.github.io/Waarp/WaarpR66CommandLine.html
and in general form (Java form) here:
http://waarp.github.io/Waarp/WaarpR66Command.html
Moreover, installation process is described here:
http://waarp.github.io/Waarp/WaarpR66Configuration.html

Your current issue seems related to:
http://waarp.github.io/Waarp/WaarpR66Configuration

[2015-06-01 18:50] #153 closed

[2015-06-02 12:04] victornoel commented on #153
Yes, I saw all of that :) Thanks for the help!

[2015-06-03 18:14] fredericBregier commented on #153
I hope you find your way ;-)
If not, please open a new issue for the specific problem.
I closed this one since you finally managed to setup the database...

[2015-06-04 09:35] victornoel commented on #153
Yep, perfect, thanks (and I solved my need for the admin password :)

[2015-08-19 06:42] ronea23 opened #167 "How to start with ?"
Hi,
Can anyone help me with how to start with, the R66 Server becoz the defined procedures on the site.. did not work much.

Product features are outstanding, but when i try to run no success.

For e.g, the Golden Gate Password, which jar needs to be launched or it is the part of Server UI ?

If its the part of Server UI, how to launch the server UI.

And DATABASE initialization, ServerInitDatabas

[2015-08-19 06:43] ronea23 commented on #167
Pls see the below messages,

18/08/2015/10:40:40.942 WARN [org.waarp.openr66.configuration.FileBasedConfiguration] [main] org.waarp.openr66.configuration.FileBasedConfiguration.loadServerParam(FileBasedConfiguration.java:1007) : Multiple Monitor configuration active for 2 servers in HA behind a Load Balancer in TCP
18/08/2015/10:40:40.964 WARN [org.waarp.openr66.context.authentication.R66Auth] [ma

[2015-08-19 07:54] fredericBregier commented on #167
@ronea23
You'll find in the zip directories for Linux and Windows, containing the script files:

     /bin/Linux => see ENV_R66 and below directory bin and in particular r66command.sh
     /bin/Windows => see bin directory and in particular setvari.bat (similar to ENV_R66 for Windows)

Have a look then to the web page for command lnes: http://waarp.github.io/Waarp/WaarpR66CommandLine.html

For the

[2015-08-19 11:20] ronea23 commented on #167
Hi,
I tried to run the same command lines, but it gives me "wrong initialization" error.

How to launch the GG password GUI.??
No clue the server launch is failing.

I know i am missing something, but let me know ,, on windows what shud be the command to initialize the server.

"C:\SST24\WARP\bin\Windows\bin>server.bat" this is the command i invoke.

Regards,
Ronald

[2015-08-19 11:27] ronea23 commented on #167
i have modified the setvari according to my local machine.

REM JDK SUN
SET JAVA_OPTS1=-server
SET JAVA_OPTS2=-Xms256m -Xmx1024m
REM SET JAVA_RUN="C:\Program Files\Java\jdk1.6.0_14\jre\bin\java" %JAVA_OPTS1% %JAVA_OPTS2%
SET JAVA_7HOME="C:\Program Files (x86)\Java\jdk1.7.0_55\jre\bin"
SET JAVA_RUN=%JAVA_7HOME%\java %JAVA_OPTS1% %JAVA_OPTS2%
REM SET JAVASERVER_RUN="C:\Program Files\Java\jdk1.6.0_14

[2015-08-19 12:17] fredericBregier commented on #167
Execute %R66ADMIN% to run the admin gui (or create your own admingui.bat as for R66CIGUI.bat), then you can edit your own configuration file, create the password, ...

To initiate the database: %R66INIT%  -initdb -dir yourconfigpathForRules (or again creating your own dbinit.bat)

Then to start the server, you can effectively run bin\server.bat

[2015-08-19 12:54] ronea23 commented on #167
![r66dbinit](https://cloud.githubusercontent.com/assets/10896354/9356588/71c758e2-469f-11e5-8c12-92db65696663.png)

only dbinit with table creation is successfull, no entries are found in the table..

Regards,
Ronald

[2015-08-19 12:57] ronea23 commented on #167
Hi,

What is the minimum jdk required to run this software.

How to call the configuration files ? am confused a bit. because the error message is very clean

org.waarp.common.database.exception.WaarpDatabaseNoDataException: No row found
	at org.waarp.openr66.database.data.DbHostAuth.select(DbHostAuth.java:508) ~[WaarpR66-3.0.4.jar:na]
	at org.waarp.openr66.database.data.DbHostAuth.<init>(DbHostAu

[2015-08-19 13:19] fredericBregier commented on #167
Minimum JDK is 1.6, but preferred is 1.7 or higher.
The configuration file contains the minimum information to start the server. However the database (if configured) must be also loaded with necessary informations, such as authentication, rules and so on.

So you have to load the configuration inside the database using the initdb.
Of course, if you use the default from the distribution but change

[2015-08-19 13:29] ronea23 commented on #167
Am using jdk 1.7, have tried the server both on Linux and as well as Windows machines, the issue is same.
Either the configuration file is having issues or the local environment is having issues.

Let me update after some trials, let me see the end.

Regards,
Ronald

[2015-08-20 13:05] ronea23 opened #168 "Web UI"
As per your suggestions i have removed my local configurations the server started.

1.  I could able to launch the ADMINGUI, but the xml editor is not being opened.
2.  I could not able to launch the web-app.
3.  How to run R66 as client ( what packages are required) , on my local pc i ll put server and on VM i ll run a client, so how to work out that arch?
4.  How to establish the connection betw

[2015-08-20 18:24] fredericBregier commented on #168
1) XML Editor is optional. On my PC (Windows too), it is working. Maybe you don't have all jar in your path (all jars in lib directory plus one for the database you choose, either PostgreSQL or H2 Database).
If you can't, there is still other solutions:
a) using JAXE editor (configuration provided too in xample directory)
b) using another XML editor compatible with XSD files
c) using a simple text

[2015-08-20 18:38] ronea23 commented on #168
So, Server to Client Communication is not possible ?

Only Client to Server is possible ?

Can i leave the client as a windows service and then try to connect from server ?

Regards,
Ronald

[2015-08-20 20:17] fredericBregier commented on #168
Server to Client is not possible means the server cannot initiate a transfer to a client.
But a client can initate a transfer to a server, whatever the way (get/put).
Of course, a server can contact another server.
This is the same logic as FTP (FTP Server and FTP client) or HTTP (Web server and Web client).

If you want to be able to contact a R66 partner, it must be a server. So if your scenario

[2015-08-20 20:37] ronea23 commented on #168
rightly pointed,,, coz two way connections are only possible if server is on either sides..

So if run the partner, would i be able to run external commands ?

Regards,
Ronald

[2015-08-20 20:49] fredericBregier commented on #168
External commands are linked to "rules" (the name given to the contract of transfer used).
If a rule specify to execute something (a task), then it will be executed. See here for the task explanation:
http://waarp.github.io/Waarp/WaarpR66TaskAllOptions.html
and of course http://waarp.github.io/Waarp/R66Definitions.html

A rule applied locally (depending if the server/client is sender or receiver),

[2015-08-21 03:17] ronea23 commented on #168
So file transfers cant be initiated from the server, if it is in client mode. If i put in server mode i can do the file transfer.

What would be the minimum bandwidth to do the file transfer ?

My arch is simple, pls gimme your suggestions which is very highly valuable.

1. Assuming 1 central server (Where files gonna be stored ) , 100 clients ( say from PC's / agents ) planning to pull files with

[2015-08-21 03:19] ronea23 commented on #168
And under the hood, i want to implement R66 HTTP not FTP, how can restrict only HTTP ?

Regards,
Ronald

[2015-08-21 09:38] fredericBregier commented on #168
The minimal bandwidth is roughly around 2 KB/s. It depends on the packet size (default 64KB) and the timeout (default 30s), since a timeout occurs if no packet is received during 30s (64KB/30s ~2KB/s).

What you want to do seems feasable.
Considering remote execution, note that by default, Rules are only executed when a file transfer occurs, meaning you can't execute a remote task without going th

[2015-08-21 09:53] ronea23 commented on #168
great !! understood, pls give me an example of configuration, say i want to pull files on a daily basis from different machines automatically, assuming the trigger (command) is from the central server, the other agents(different pc's running r66 server) should send the files.

need to do any anything extra from the product ?

[2015-08-21 12:41] fredericBregier commented on #168
Well, giving such an example might be long... ;-)
The main idea I have is the following:
- create a Rule that will get the file available from each partner (client as server) :

   1. this rule shall be of RECV format (since the server will ask to GET (recv) a file from partner)
   2. this rule could have pre/post command if necessary on both side (server/partner) (for instance PRE-SEND to prepare

[2015-08-29 17:13] fredericBregier commented on #168
I guess this issue can be closed since no feedback.
If another specific issue comes, just open a new one. ;-)

[2015-08-29 17:13] #168 closed

[2015-08-29 17:14] fredericBregier commented on #167
Since you opened a new issue and no feedback from then, I suppose this can be close.
Fell free to reopen a new one for a specific issue. ;-)

[2015-08-29 17:14] #167 closed

[2016-01-07 10:32] alexbarta opened #172 "Exception AdminGui on Linux"
Hi,

Following online manuals, I have installed WaarpR66 on Linux Centos6 .he GUI starts correctly using
`$JAVARUNCLIENT org.waarp.administrator.AdminGui conf/config-serverA.xml`. The problem is Edit XML, when I click on that button application generates this error output. It seems looking for some graphical content that is not available.

`Exception in thread "AWT-EventQueue-0" java.lang.NullPoin

[2016-01-07 22:07] fredericBregier commented on #172
Hi,
After cheking, it seems we have an issue on the Jar building procedure for WaarpXmlEditor. It misses the gif to be included, which causes your null exception.
I upload in this issue a quick fix with the correct jar. Could you give it a try (replacing the previous jar with this one) ?

[WaarpXmlEditor-1.0.1.jar.zip](https://github.com/waarp/WaarpR66/files/81823/WaarpXmlEditor-1.0.1.jar.zip)

[2016-01-07 22:14] fredericBregier commented on #172
[WaarpXmlEditor-1.0.1.jar.zip](https://github.com/waarp/WaarpR66/files/81835/WaarpXmlEditor-1.0.1.jar.zip)
Or better this one (generated through maven this time)

[2016-01-08 13:33] alexbarta commented on #172
Hi,
Last jar works fine!

Thanks for your fast reply & keep up the good work .

Alex

[2016-01-08 20:12] fredericBregier commented on #172
OK thanks for reporting !
We will update later on this jar in the next release.

[2016-01-08 20:12] #172 closed

[2016-01-11 16:24] alexbarta opened #173 "Can't login on Web Interface"
Hi,

It's me again. Currently I can't login on web interface using hosta credentials. To be sure of password correctness I have generated ggp file through admin GUI and configured it in OpenR66 authent file for that host.
In my lab installation Web Interface listens in HTTPS on 8067 and hosta on 6666 (no SSL). On failed login, log file returns the following
`ERROR [org.waarp.openr66.context.authen

[2016-01-11 19:53] fredericBregier commented on #173
It's not the intended way ;-)

Admin is by default the admin account defined by
     <server>
        <serveradmin>xxx</serveradmin>
        <serverpasswd>pwd<serverpasswd> or <serverpasswdfile>file</serverpasswdfile>

where pwd is the content of the ggp file, of file is the ggp file.

When you don't use the "global" admin account, then you can use "user" accounts which are defined by a "-1" (or l

[2016-01-13 18:35] alexbarta commented on #173
Yes you're definitely right :) .. I missed "monadmin" superuser. I just needed to replace ggp default serverpasswd with my own key and I was able to login with no problem.

I understand also that if want to create further users I need first to define hosts (clients) with negative ports and manage them with user roles. Is that right?

off-topic: Web interface has HTML default font style (not same f

[2016-01-13 19:37] fredericBregier commented on #173
For the extra users, yes you get it right. Creating "pseudo" hosts with negative ports gives extra authentifcation that can be used in the interface. Then using the system menu, you can add specific rights (Roles) to them.

On the font style, yes please, open a new issue on that point, giving an example of "your" screen.
It might be a question of browser too. Mostly, me, I use Chrome, but I know t

[2016-01-13 19:37] #173 closed

[2016-01-13 20:04] fredericBregier commented on #173
By the way, I just look at the font, it seems (if this is the issue) that the font is in majority by default under magic-bootstrap-min.css set as "Open Sans", which is an open font from Google. And I got the very same rendering on Edge, Firefox and Chrome.
Are you using the directory httpadmin or httpadmin-static ? The picture is from httpadmin (using the responsive design).

Let's continue this d

[2016-01-14 10:25] alexbarta opened #174 "Font appearance in Web AdminGui"
Hi,

As promised here the new issue. Font appearance in the Web AdminGui looks a bit different from I have seen so far here http://a.fsdn.com/con/app/proj/waarp/screenshots/w3-hosts.png . Just to give you evidence I have attached some screenshots here below (taken from Chrome, Firefox).

As you correctly pointed out in my previous issue, the difference is made by "Open Sans" font family in httpadm

[2016-01-14 19:56] fredericBregier commented on #174
Very very strange indeed !
Googling a bit (ok, It's google's font), I found the following:

http://stackoverflow.com/questions/21678458/google-font-not-working-with-bootstrap

Where the first response gives some way to try to fix it.
Since it is working on mine install, I would suggest you to try to add the content of: http://fonts.googleapis.com/css?family=Open+Sans:400,600
within (at the end pro

[2016-01-15 13:32] alexbarta commented on #174
Hi,

Indeed adding those google css **https://**fonts.googleapis.com (my browser connects to https waarp gui so it blocks insecure http calls) to both css/bootstrap-multiselect.min.css  css/magic-bootstrap-min.css solved the issue. I changed both since some htmls import only css/magic-bootstrap-min.css. I attach also a screen of what I see now.
![image](https://cloud.githubusercontent.com/assets/9

[2016-01-15 20:06] fredericBregier commented on #174
OK Thanks for this full report ! Very helpful !
I will send the correction to the main build such that the next release is ok !
Thanks for reporting again !

I will let this issue opened until the new version is out...

[2016-02-04 09:30] Astr0boy opened #175 "R66BusinessInterface"
Hello,

I would like to create my own R66BusinessInterface but don't really see how to link the R66BusinessInterface to a R66Session without interfering with the source code...
Can you please provide me some clues ?

[2016-02-05 07:24] fredericBregier commented on #175
Hi,
I must admit that this part of the code was changed sometimes in the past since no one had the usage requirement. This was made wrong.
The idea, as in the Waarp FTP Gateway, was to change the server main initialize method according to the needs by something like this:

    public static boolean initialize(String config) {
        if (logger == null) {
            logger = WaarpLoggerFactory

[2016-02-05 09:04] Astr0boy commented on #175
Bonjour Frédéric,

Thanks for your quick reply!  The "final R66BusinessFactoryInterface" was
bothering me but at least it's clear now :)
So at the end, I used a post actions using JAVAEXEC as advise. However when
I look at the AddUuidJavaTask source code I can see that it extends
AbstractExecJavaTask and not implements R66Runnable as stated in the
documentation (http://waarp.github.io/Waarp/WaarpR

[2016-02-05 21:49] fredericBregier commented on #175
AbstractExecJavaTask is an extend of R66Runnable. It is one of the correct way to quickly implement such a Java Task, if the default other methods are acceptable as such.
So R66Runnable is a simple interface, while AbstractExecJavaTask is the default base implementation where most of the time only the run method is to be overriden.

[2016-02-05 22:26] fredericBregier commented on #175
To be correct, AbstractExecJavaTask includes by default some methods that are helpers for R66Business part, (not useful in your cases) as `validate`, `finalvalidate`, .... For the example, AddUuidJavaTask does not use those extra methods. And we could use a direct `implements R66Runnable` with exactly the same result. Generally we do use the AbstractExecJavaTask in order to allow to use them in R6

[2016-02-06 23:40] Astr0boy commented on #175
Ok it's clear. Thanks Frédéric.

[2016-02-06 23:40] #175 closed

[2016-02-06 23:51] Astr0boy opened #176 "Monitoring events"
Hi Frédéric,

Is there any way to get via a java interface or any other way all the events notification sent to the Web Administration ?
As I can see that in Transfers, you can have the current step of the transfer even if it has not started.
I would like to catch some errors occurring before the transfer starts (host unknown, auth incorrect...) and looks like it's not possible using error task (I

[2016-02-07 09:09] fredericBregier commented on #176
Hi,
I try first to recall the protocol logic, since it can be useful. (see http://waarp.github.io/Waarp/WaarpR66Protocol.html )

1) Network connection if none already exists between the 2 partners
2) Multiplexing startup (one new query through the same shared socket) : STARTUP packet
=> session is setup
3) Authentication : AUTHENT packet
4) Query request : REQUEST packet
=> that's where the DbTask

[2016-02-07 09:18] fredericBregier commented on #176
Of course, we could investigate if some events are not traced for one particular way. For instance, currently R66BusinessInterface does not trace the "startup" (step2) / "authent" (step3) events, but starts at step4 (request).

Do you have some specifications in mind ?

[2016-02-07 14:48] fredericBregier commented on #176
You can have a look at a proposal, that I imagine from your request.
Of course, any better idea or complement are welcome !

[2016-02-07 17:25] Astr0boy commented on #176
Hi Frédéric,
Thanks for your full detailed answers :)
The protocol logic is really useful, I think I'll print it to have it nearby at any time :)
As per the current limitation of R66BusinessInterface I used some EXECJAVA that I added in the rule. The only thing is that as my java class is used for every transfer, I would rather have a business Interface to manage it and don't have to include it if

[2016-02-07 21:46] alexbarta opened #177 "Server Start fails with Oracle 11G backend"
Hi Frédéric,

I'm trying to install waarp with oracle 11g backend. Database Init looks fine, apart that SELECT * FROM CONFIGURATION before the table is actually created (btw I've seen same behavior using H2).

This is my initdb command syntax:
`bin/r66command.sh org.waarp.openr66.server.ServerInitDatabase conf/config-serverA.xml -initdb -dir conf -auth conf/OpenR66-authent-A.xml -limit conf/limitC

[2016-02-08 07:56] fredericBregier commented on #177
Shortly, since I need to investigate a bit more:
- First error on SELECT is minded: this is one way to ensure yes or no the tables are created or not.
- Rules and Host seem correctly initiated
After init:
- You reach a point that generally doe not appear: DbHostConfiguration not initiated. Then there may be a bug in the code. There are "null" arguments, but next code should replace them by empty o

[2016-02-08 08:04] fredericBregier commented on #177
Also you could deactivate the "database check" at startup by specifying in the Java call:

'-Dopenr66.startup.dbcheck=0'

[2016-02-08 18:29] alexbarta commented on #177
well, I tried the insert but oracle doesn't line empty strings, I replaced those empties with a,b,c,d:

<pre><code>
SQL> DESCRIBE HOSTCONFIG
 Name					   Null?    Type
 ----------------------------------------- -------- ----------------------------
 BUSINESS				   NOT NULL CLOB
 ROLES					   NOT NULL CLOB
 ALIASES				   NOT NULL CLOB
 OTHERS 				   NOT NULL CLOB
 UPDATEDINFO				   NOT NULL NUMBER(

[2016-02-08 22:25] fredericBregier commented on #177
After digging a bit, I found out.
1) You have the option '**-upgradeDb**' durint ServerInitDatabase (in addition to '**-initdb**') that will create for you the necessary missing entry in DbHostConfiguration (HOSTCONFIG).
2) In next release, we will have a fix that will automatically set -upgradeDb option when using -initdb such that this issue will not come back

So you can ignore my suggestion an

[2016-02-08 22:30] fredericBregier commented on #177
And as for your tests, adding strings as "A" is not allowed, since it is supposed to be an "XML" entry.
At least, an empty string (not null) should did the trick.
Sorry for this inconvenience.

[2016-02-09 19:59] alexbarta commented on #177
I cleaned up the tables on waarp schema (RUNSEQ sequence too), but same error appears...
Correct me if I am mistaken, but seems that oracle interprets "" or '' as NULL when INSERT INTO HOSTCONFIG is called and error is thrown because fields BUSINESS,ROLES,etc are set to NOT NULL.

<pre><code>
bin/r66command.sh org.waarp.openr66.server.ServerInitDatabase conf/config-serverA.xml -initdb -upgradeDb -

[2016-02-09 20:57] fredericBregier commented on #177
Indeed ! I search for this issue and yes, Oracle considers empty string as null value (while it should not).
Note that PostgreSQL (recommended anyway with R66), MySQL, MariaDB and H2 do not have this issue. So it is a specific issue on Oracle side. On my side, generally I check using both H2 (in Oracle compatible mode) and PostgreSQL.

That said, it could be quite hard work to check every sql code

[2016-02-09 21:34] fredericBregier commented on #177
Obviously, the other simple way is to change for Oracle notNull to no restriction, therefore allowing null value... Probably the simplest change there.

[2016-02-10 17:47] alexbarta commented on #177
Thanks for confirming . Actually I have set HOSTCONFIG fields to NULL and server started with no problem.

Unfortunately Oracle is a requirement, so I have to deal with that :(
btw. When I click on transfer listing page of admin WebServer , a worrying popup appears. Maybe it's oracle related issue? Actually STEPSTATUS field in RUNNER table seems correctly populated ..

<pre><code>
SQL> SELECT STEP

[2016-02-10 20:15] fredericBregier commented on #177
I do not have any clue on that error. I had this error when developping the IHM and generally it was because of a bug of the data generation. As it is populated from database, it might be related but I do not have any clue, as I said.

We will in few days promote a new version with several fixes, hoping this will bring you back in correct behavior.

[2016-02-10 20:54] alexbarta commented on #177
Thank you! Looking forward to the new version then :)

[2016-02-21 11:37] Astr0boy opened #182 "No ERRORTASK triggered for transfer initiated by R66 client"
Hi Frédéric,

I did some tests where I initiated some transfers from a R66 client with database connection.
The remote server is down, therefore the transfers failed on go in internal status INERROR : Connection Impossible which is expected.
However, no error task is triggered even if the rule has some execjava for Recv Error / Send Error.
Is it the "normal" behavior ?

[2016-02-21 11:47] Astr0boy opened #183 "Use external datasource instead of XML config db connection"
Hi Frédéric,

This is more an evolution that an issue.
Is there a way to add as an option to use an external datasource instead of using the database connection used in the XML configuration file ?

[2016-02-21 12:03] Astr0boy opened #184 "Direct transfer"
Hi Frédéric,

I'm working on sending files via R66 protocol and using an application server.
I need to adapt the DirectTransfer main to remove the system.exit() but also to find an alternative to networkTransaction.closeAll() (which is triggering a shutdown hook causing the JVM to be killed after a timeout is reached and closing the database connection).
Here my business case :
I have some files r

[2016-02-21 12:12] Astr0boy opened #185 "REST API for submitting a transfer - pipes not closed ?"
Hi Frédéric,

I've implemented a R66 rest client based on the example org.waarp.openr66.protocol.http.rest.test.HttpTestRestR66Client but I'm experimenting some issues...
The client is working and the transfer is submitted, however after a number of transfers I'm having a java exception too many open files.
After looking at my JVM pid running the rest client, I can see that the number of open file

[2016-02-21 13:44] fredericBregier commented on #184
You could have a look at MultipleDirectTransfer source code.

The main idea is to not use the "main" from DirectTransfer but to make new DirectTransfer(...) and calls the necessary commands on it (see run method of MultipleDirectTransfer).
Then in your application, you have an init as described in the main but in your "main" main, so not in the your class that implements the transfer.

Therefore s

[2016-02-21 13:49] fredericBregier commented on #183
Well, it might be possible but currently the logic is that the "server" is standalone, and then the clients (whatever application or command) interact with server (either using DirectTransfer, either prefereably using SubmitTransfer).
Therefore in this case, the "server" part should not be "embedded", even if it is possible.
On "client" side, it is understandable to make such that database is open

[2016-02-21 13:49] fredericBregier commented on #182
Hmm let me check. I'm not sure the Error steps are running in this case. It might be a bug.

[2016-02-21 13:51] fredericBregier commented on #185
For the moment, I don't have any clue. Note howver that HttpTestRestR66Client is a test program, not a "supported" program... That's could be the reason ;-)

[2016-02-21 14:46] fredericBregier commented on #185
One idea: it is in link with how Netty is working.
Netty uses ThreadPool (which are initiated and closed respectively in constructor (NioEventLoopGroup)  and closeAll). In various OS, this brings extra "fake" open files, but counted as such by the OS. I have no control on that, but one can limit the impact by:

- specifying small number of threads (in general close to the number of "concurrent" cl

[2016-02-21 14:50] fredericBregier commented on #182
OK, I check it. This is normal (at least from our perspective) since:

- as long as the connection cannot be done, the request is not started, therefore there is no task error
- once the connection is done, if an error occurs (whatever), then the task error is executed

So there is only an exception OpenR66ProtocolNoConnectionException that is raised and must be catch. Note that 3 tries are done b

[2016-02-21 15:30] fredericBregier commented on #182
Quick Note (sunday ;-)

I believe it is quite easy to manage to run task error in such cases. Note however that there is no Session so there might be some side effects (but I guess limited or even none).

I will propose this evolution.

[2016-02-21 18:22] Astr0boy commented on #182
Great! Thanks Frédéric. In the meanwhile, I'm catching the R66Result and will update the transfer status accordingly.

[2016-02-21 18:29] Astr0boy commented on #183
Well we did had some cases where our customer network was not 100% reliable and that cause some insert/update issue for other kind of transfers, so we did implements a db pool connector allowing retries even if the db is down or network issue for few minutes.
So I was thinking that if it will worth to use such feature for r66 as well.
However, not sure how the r66 transfer will react if the db is

[2016-02-21 19:44] Astr0boy commented on #184
Yes sorry I really need some rest :)

[2016-02-21 19:44] #184 closed

[2016-02-21 20:26] fredericBregier commented on #184
No issue ! Glad that it helps you !

[2016-02-21 20:30] fredericBregier commented on #183
On Server side, R66 manage already a pool and retry, but in case it does not work, as the database is the center of the "context" (reliability), it shall be in error if it really cannot reach the database.

On Client side:

- either you use a submit method (but then depends on the database but only on submission part, so retry is possible outside),
- either you use no database mode (XML based),
-

[2016-02-21 22:33] Astr0boy opened #187 "Class org.waarp.openr66.configuration.Configuration"
Hi Frédéric,

Why not having a class org.waarp.openr66.configuration.Configuration with getter and setter to create the R66 configuration ? As far as I can see we can only use the FileBasedConfiguration class and need to use the setClientConfigurationFromXml method for example to set the client configuration.
It would help to override some value (nb of retries, snmp...) or populate the value from

[2016-02-21 22:47] Astr0boy commented on #183
Thanks for your valuable help as usual :)
option 1 would have been the best but the only issue I have if that I need then to correlate the status of the r66 transfer with the status of my file (and then store somewhere the special Id).
I'll go for option 3 in direct transfer (at least in a first time :) )

[2016-02-21 22:47] #183 closed

[2016-02-22 19:42] fredericBregier commented on #187
The class you search for is:

[(https://github.com/waarp/WaarpR66/blob/wNetty41/src/main/java/org/waarp/openr66/protocol/configuration/Configuration.java)]

Which will be available in the next release as is (with getters and setters). That's one of the "improvement" in the code we create lastly.

The FileBasedConfiguration is getting information from XML file.

Of course, changing to another way (

[2016-02-23 09:44] Astr0boy commented on #187
Ok perfect I'll have a look at the class :)
Well, at least even if there's a XML file I would like to be able to override some value (for example the workingPath, inPath as the data are located in a different storage location than the runtime part).
Regarding the hostid it's contained as a parameter in the context deployed on Tomcat, so when the context is starting we know the hostid.
Also, just a

[2016-02-23 19:32] fredericBregier commented on #187
For the in, out and so on pathes, you can specify absolute path in the rule, therefore even out of R66 home. R66 default in, out and so on are indeed based on the R66 home and considered as relative path to R66 home. However nothing prevent you to set a link to the real target/source/work if needed.

The reason behind this "relative path" is to be able to share the rules among several servers usin

[2016-02-25 08:34] Astr0boy commented on #187
Thanks again Frédéric. I used in fact the rule for the in and out path.
I'll have a look at the alias.

[2016-02-25 08:34] #187 closed

[2016-02-25 08:40] Astr0boy commented on #185
I'll investigate in that direction.
Thanks.

[2016-02-25 08:40] #185 closed

[2016-03-04 18:16] bcarlin commented on #182
Thé fix has been merged un master. The final version will be released un the next couple of weeks.

[2016-03-04 18:16] #182 closed

[2016-03-14 18:03] alexbarta opened #189 "Web Interface crashes when clicking on certain buttons"
Hi Frédéric,

I have some issue using web interface. At the moment, clicking Host > create button without entering any value results in 400 bad status error code.

![image](https://cloud.githubusercontent.com/assets/9393789/13754289/b6a889e8-ea16-11e5-92ac-bef343d226fc.png)

here the trace output:
<pre><code>
14/03/2016/18:49:13.156 DEBUG [org.waarp.openr66.protocol.http.adminssl.HttpResponsiveSsl

[2016-03-14 20:26] fredericBregier commented on #189
For the first, even if it is a bug (null value should be checked), what else could you expect by clicking create without any value?

On the second, if the condition is similar, same thing. But I'm not sure since you did not described the condition.

We will fix those issues of course !

[2016-03-15 09:51] alexbarta commented on #189
In the second case, I was just clicking on restart button for a specific transfer.

Thank you!

[2016-03-16 17:19] fredericBregier commented on #189
To be honnest, I can't reproduce yet the second error, but maybe the initial fix may fix the second one... You may try later on again once the fix will be merged and published.
So I keep this issue open.

[2016-03-21 10:02] alexbarta opened #193 "R66 windows client GUI freezes on transfer error"
Hi Frédéric,

I'm trying to use R66Cl.bat, but when ERROR transfer appears, the only thing I can do is to relaunch the batch file.

A small screen of what happens:
![image](https://cloud.githubusercontent.com/assets/9393789/13915152/27075e08-ef53-11e5-91be-75e03bd1df59.png)

From DOS output I don't see any evident error..

ps. A question... Am I allowed to send a file that is located outside the "

[2016-03-21 10:06] alexbarta commented on #193
sorry, here the ERROR that appears in the GUI

<pre><code>
21/03/2016/10:47:40.898 ERROR [org.waarp.openr66.protocol.localhandler.TransferActions] [LocalWorker-4] org.waarp.openr66.protocol.localhandler.TransferActions.request(TransferActions.java:398) : Bad runner at startup RequestPacket: rule3 : 1 : file:/C:/MFT/waarp/out/prova.txt :  : 4096 : 0 : 1 : u : 23 Session: FS[ERROR] (TransferActions.

[2016-03-21 19:45] fredericBregier commented on #193
@alexbarta According to the log, it seems the remote host is unknown from the local client. You shall have at least a XML file for authentification part (see https://waarp.github.io/Waarp/R66AuthentConfig.html ) that is linked into the main configuration using the field identity/authentfile.

On the freeze, it should not exceed 3 x time out connection parameter in this case (limit/timeoutcon which

[2016-03-22 10:04] alexbarta commented on #193
Ok thanks I'll let you know asap..

[2016-03-23 12:14] alexbarta commented on #193
Well in authent xml file the host is listed, because when I send a file through r66syncsend command from same machine I am able to do it without problems.

An exception I see know when sending a file from client gui:
<pre><code>
23/03/2016/12:00:16.437 INFO [org.waarp.openr66.protocol.configuration.Configuration] [AWT-EventQueue-0] org.waarp.openr66
.protocol.configuration.Configuration.pipelineIn

[2016-03-24 07:24] fredericBregier commented on #193
That's the issue of awt: I cannot either know where is the issue...
I'm missing information.
Once in the GUI, can you "ping" the host ? (Verify the connexion)
Until now, I cannot reproduce the error (I tried both cases remote server up or down).

[2016-03-24 14:45] alexbarta commented on #193
Yes I confirm I can telnet R66Server target on port 6667 from client DOS..

Well I made some improvement.. I was able to send a file only when information field in the client GUI was NOT empty, otherwise the same file transfer fails. When client fails, even lowering timeout configuration, doesn't unfreeze.  Could you please check that?

[2016-03-24 20:28] fredericBregier commented on #193
Strange. I'm not able to reproduce the exact same issue.
Whatever the field information is filled or not, the transfer is done correctly.
I'm able to get the GUI frozen on one special item: when the rule is not allowed for the client and therefore refused by the server (I need to check why yet).
But if it cannot reach the server (so no connection at all), it freezes until the timeout is over and I

[2016-04-04 21:06] fredericBregier commented on #177
New version published! ;-)
So I close this one. Feel free to open a new one it if an issue is still there.

[2016-04-04 21:06] #177 closed

[2016-04-04 21:06] fredericBregier commented on #176
New version published! ;-)
So I close this one. Feel free to open a new one it if an issue is still there.

[2016-04-04 21:06] #176 closed

[2016-04-04 21:06] fredericBregier commented on #174
New version published! ;-)
So I close this one. Feel free to open a new one it if an issue is still there.

[2016-04-04 21:06] #174 closed

[2016-04-04 21:07] fredericBregier commented on #189
New version published! ;-)
So I close this one. Feel free to open a new one it if an issue is still there.

[2016-04-04 21:07] #189 closed

[2016-04-04 21:08] fredericBregier commented on #193
You may try the last version. Since I was not able to reproduce your error, I cannot guarantee that it is fixed yet.

[2016-04-12 15:59] alexbarta opened #195 "SSL certificate revocation"
Hi Frédéric,

At the moment, we got our signed certificates working with the double R66 proxy configuration. One thing that is still causing trouble, is certificate revocation.

Clientside we have a keystore with  private key signed by customer root CA and a truststore with root CA public certificate.

Serverside and proxyside we have a keystore containing a private key defined with appropriate cs

[2016-04-12 23:13] fredericBregier commented on #195
I'm not that good on certificate part. Maybe asking waarp support could help you ?

[2016-04-13 15:03] alexbarta commented on #195
just sent, thanks.

[2016-05-15 13:45] Astr0boy opened #196 "Database connection closed after 8 hours -> PrepareStatement are failing"
After 8 hours of inactivity (no r66 transfers), I have some exceptions in the logs and the transfers are failing. I tried the autoReconnect option in the url but it's not working.
I didn't see any keep alive in the connection pool, so I guess the connection is closed after 8 hours.
Did you already have such feedback from other users ?

10/05/2016/16:18:10.173 ERROR [org.waarp.common.database.DbPre

[2016-05-15 16:43] fredericBregier commented on #196
Internally the connection is tested and retried if necessary, see:

- https://github.com/waarp/WaarpCommon/blob/master/src/main/java/org/waarp/common/database/model/DbModelMysql.java#L148
- https://github.com/waarp/WaarpCommon/blob/master/src/main/java/org/waarp/common/database/DbConnectionPool.java#L50

However there could be other elements that prevent such retries.
As you probably think, such "

[2016-05-15 16:43] fredericBregier commented on #195
Another thread opened on info at waarp.fr so closing it

[2016-05-15 16:43] #195 closed

[2016-05-15 16:44] fredericBregier commented on #193
Could you confirm?

[2016-05-15 19:45] Astr0boy commented on #196
Here what I can see in the log. It really looks like the wait_timeout of MySQL instance is reached and no reconnection is done. I think the issue can be reproduce but setting a low value to wait_timeout parameter of MySQL (SET GLOBAL wait_timeout = X;SET GLOBAL interactive_timeout = X;)

10/05/2016/13:58:51.805 INFO [org.waarp.openr66.protocol.configuration.Configuration] [ScheduledTask-2] org.waa

[2016-05-16 07:49] fredericBregier commented on #196
Connections are always tested (during exception at last and before too).
See for instance:
- https://github.com/waarp/WaarpCommon/blob/master/src/main/java/org/waarp/common/database/DbPreparedStatement.java#L224
- https://github.com/waarp/WaarpCommon/blob/master/src/main/java/org/waarp/common/database/DbSession.java#L418
- https://github.com/waarp/WaarpCommon/blob/master/src/main/java/org/waarp/co

[2016-05-16 08:18] Astr0boy commented on #196
Thanks Frédéric. Yes, this is what I see also in the code.
Then the issue should be somewhere in my code, I need to investigate, I'll update the issue with my findings. In my java class, I'm extending AbstractTransfer, I might have forgotten somewhere a test.

[2016-05-16 10:12] Astr0boy commented on #196
I can confirm that when the wait_timeout is reached (at least in some cases) the reconnection to the db is not working.
Here how I proceed:

1) Set MySQL wait_timeout &  interactive_timeout to 5 minutes
SET GLOBAL wait_timeout=300;
SET GLOBAL interactive_timeout=300;

2) Connect to R66-Web-Administration (I'm using the static version)

3) Wait for at least 5 minutes

4) Search for a rule and a tra

[2016-05-31 18:33] alexbarta opened #197 "Exception during installation w/Mysql backend"
Hi Frédéric,

I'm trying the new waarp 3.0.6 release with mysql backend. but during installation I have seen lots of exception (excluding SELECT \* CONFIGURATION check) that I didn't see with previous 3.0.5 release (see output at the end).. same config files have been used in both cases. Actually I cannot visualize httpadmin webapp after installation and server run :( .

Could you please help me w

[2016-06-01 20:04] fredericBregier commented on #197
@bcarlin ping for this issue ?

[2016-06-03 09:17] bcarlin commented on #197
This bug is caused by the fix for #177.
It forces db upgrade when initializing the database (https://github.com/waarp/WaarpR66/commit/15f339dc136379a9cee7678f88e16d493407e1fd#diff-8a0b35beef2e48037c35905596ad4f51R74).

This seems odd, as an freshly initialized database should be up-to-date. However, upgrades are run because the entry for the current server is only inserted in `HOSTCONFIG` at the e

[2016-06-03 12:54] alexbarta opened #198 "Problem visualizing webapp https://<ip>:8067"
Hi Frederic,

as I mentioned in my previous issue, I'm not able to load waarp webapp with new release. Actually my browser freezes after initial connection and no login page appears.

Initially I thought it was a permission issue of my R66/httpadmin folder but setting up folder chmod 777 and starting the service as root didn't help.

The only thing that helped me was switching back lib folder from

[2016-06-03 13:33] bcarlin commented on #198
I have no error on my end. Do you have any error in the logs of the R66
server ?

--

Cordialement,

Bruno Carlin
Waarp
01 56 38 51 08
07 64 07 84 87

2016-06-03 14:54 GMT+02:00 Alessandro Bartalucci <notifications@github.com>:

[2016-06-03 20:14] alexbarta commented on #198
Hi Bruno,

I attach below the relevant DEBUG logs.. (Server startup and browser connection to https://waarpserver:8443 but I didnt see anything strange). I also attach my permission folder status.. tell me if you need more infos.

A screenshot of whats happening right now.. browser stops after loading two css
![schermata 06-2457543 alle 22 11 33](https://cloud.githubusercontent.com/assets/9393789/

[2016-06-03 21:38] fredericBregier commented on #197
@bcarlin I believe the seconds seems more stable? The first one would prevent upgrade, right ?

[2016-06-06 10:56] bcarlin commented on #197
@fredericBregier The first one would only prevent upgrades after the
database is initialized, but not if the upgrade is explicitel asked with
`-upgradedb`.
I mean : Is the upgrade needed right after the database is created ? it
should already be up to date (thus the errors in the logs).
Is there a reason for this ?

Cordialement,

Bruno Carlin
Waarp
01 56 38 51 08
07 64 07 84 87

2016-06-03 23:38

[2016-06-06 16:34] alexbarta commented on #198
Update:

Http Server (not https)

After requesting http://<ip>:8080 it looks for monitor path which doesn't exists (?)

<pre><code>
06/06/2016/16:31:23.574 ERROR [org.waarp.common.utility.WaarpStringUtils] [HttpWorker-1] org.waarp.common.utility.WaarpStringUtils.readFileException(WaarpStringUtils.java:81) : File not found while trying to access: /opt/R66/httpadmin/monitor/index.html
java.io.FileNo

[2016-06-07 07:43] bcarlin commented on #198
For the HTTP server, you can get the `monitor` directory from the
`httpadmin-static` folder at the root of the zip.
For the HTTPS admin server: could you provide the configuration XML for the
server ?

Bruno

2016-06-06 18:34 GMT+02:00 Alessandro Bartalucci <notifications@github.com>:

[2016-06-07 12:08] alexbarta commented on #198
Hi Bruno,

Now monitoring exception is gone... but same loading problem as in https server requests :(

![image](https://cloud.githubusercontent.com/assets/9393789/15856891/ade247ec-2cb8-11e6-91c4-1f55a7a9a5bb.png)

btw this is my current config-server:

[code]
In my 3.0.5 setup, I didn't change anything to get the https server working properly.

Regards

Alex

[2016-06-07 12:19] alexbarta commented on #198
Little update:

Even on 3.0.5 lib setup, http (not https) monitoring server hangs, same behavior as in 3.0.6 (both http/https) ...

[2016-06-07 20:51] fredericBregier commented on #197
@bcarlin You may need to add an extra command in createTables to add the last line of upgradeDb, which is:

    DbHostConfiguration.updateVersionDb(session, Configuration.configuration.HOST_ID,
                R66Versions.V2_4_25.getVersion());

since this is only -upgradedb that does this.

However, do first check the logic of the call of createTables if this is only the case -initdb that call it

[2016-06-09 11:48] alexbarta commented on #198
any news Bruno?
Thanks

[2016-06-09 14:35] cedricconstans opened #199 "Compatibility beetween differents version of waarp"
Hi,

Do you know if it's possible to do transfert beetween two waarp which are not on the same version ?
For example beetween waarp 2.4 and waarp 3.0.5 ? Are they technicals particularities ?

Thanks for your response.

Best regards

[2016-06-09 14:55] bcarlin commented on #198
Hi,

We are still working on it, trying to find out why it hangs...

Cordialement,

Bruno Carlin
Waarp
01 56 38 51 08
07 64 07 84 87

2016-06-09 13:48 GMT+02:00 Alessandro Bartalucci <notifications@github.com>:

[2016-06-09 15:10] bcarlin commented on #199
Hi,
it should work!

[2016-06-10 08:46] cedricconstans commented on #199
Hi,
Thanks. But I test it and I've got an error when I'm doing "Test Connection" with 2.4 version (I'm testing connection to an 3.0.5 version)

![400](https://cloud.githubusercontent.com/assets/19839653/15958769/c255aa3e-2ef7-11e6-8f7f-f89d76ee267d.jpg)

In the logs we can see
10:28:04.498 [Hashed wheel timer #1] INFO  o.w.o.p.n.NetworkTransaction - org.waarp.openr66.protocol.networkhandler.Networ

[2016-06-24 10:35] alexbarta opened #200 "Blowfish crypted password wrong key size client exception"
Hi Frédéric,

I'm testing blowfish keys instead of less secure DES keys .
After running this creation command for blowfish key:
[code]

and consequently configuring the client with new blf key and crypted pwd, I'm currently running into a wrong keysize exception. Actually blf key in bytes is smaller than test des key

[code]
Here the exception:
[code]
Best Regards

Alex

[2016-06-25 07:46] fredericBregier commented on #200
@alexbarta Effectively, the code currently use only Des format (as seen in the log).
We might add the possibility to change to other formats.
@bcarlin FYI

[2016-06-25 07:47] fredericBregier commented on #198
@alexbarta  Is this commit fixing this issue ?

[2016-06-25 20:02] alexbarta commented on #198
Didn't try yet .. May ask you a download link for new jars?

Much appreciated.

Best Regards

Alex

[2016-06-27 18:51] fredericBregier commented on #198
@bcarlin Is it possible to generate temporary jars ? (beta) ?

[2016-06-28 16:28] bcarlin commented on #198
I'm sorry I'm running a little out of time today...
I'm taking care of that tomorrow

[2016-06-29 15:36] maximeRobert commented on #199
Hi,

I wasn't able to reproduce your error with WaarpR66-2.4.34.
Maybe you should concider updating your version.

Thanks

Best regards

[2016-06-29 16:41] bcarlin commented on #198
@alexbarta A beta distribution is available here : https://discuss.waarp.org/t/release-of-waarp-r66-3-0-7-beta1/17

[2016-06-29 16:42] bcarlin commented on #196
A beta distribution cotaining a fix for this bug is available here : https://discuss.waarp.org/t/release-of-waarp-r66-3-0-7-beta1/17

Can you please try again with this fix ?

[2016-06-30 07:40] alexbarta commented on #198
Thanks @bcarlin @fredericBregier  I'll post a feedback soon.

[2016-06-30 09:08] bcarlin commented on #198
@alexbarta thank you !

[2016-07-01 16:14] alexbarta commented on #198
Hi @bcarlin

Just tried the new version, https it's fine now, but issue is still open for http webapp (same hanging behavior) and httpadmin folder is missing monitor folder which I added manually.

Best,

Alex

[2016-07-03 17:44] Astr0boy commented on #196
Hi Bruno,

I did some new tests but I have the same error. I guess something was fixed
also on Waarp Common ?

2016-06-29 18:42 GMT+02:00 Bruno Carlin <notifications@github.com>:

[2016-07-04 09:34] bcarlin commented on #196
Yes, the fix is in Waarp Common, wich is included in the package ;)

[2016-07-05 20:19] Astr0boy commented on #196
Saw that after I post the comment :)
I did some more test but the error is still showing:

05/07/2016/16:10:14.873 ERROR
[org.waarp.common.database.DbPreparedStatement]
org.waarp.common.database.DbPreparedStatement.executeQuery(DbPreparedStatement.java:282)
: SQL Exception executeQuery:SELECT
BUSINESS,ROLES,ALIASES,OTHERS,UPDATEDINFO,HOSTID FROM  HOSTCONFIG  WHERE
HOSTID = ?  Communications link f

[2016-07-07 09:59] kregory commented on #197
Hello

I can't initdb too, from a fresh install.
I can't figure what's wrong.

11:58:43.506 [main] DEBUG o.w.c.logging.WaarpLoggerFactory - org.waarp.common.logging.WaarpLoggerFactory.<clinit>(WaarpLoggerFactory.java:45) : Using Logback (SLF4J) as the default logging framework
11:58:43.506 [main] DEBUG i.n.u.i.l.InternalLoggerFactory - Using SLF4J as the default logging framework
11:58:43.553 [mai

[2016-07-21 16:16] cedricconstans commented on #199
Hi,

Thanks for your response.

I try with 2.4.9 -> 3.0.5

Best regards

[2016-10-25 16:18] type0lang commented on #198
Hi everyone!

Same problem here: I'm getting a truncated response when doing any operation on any endpoint and no prompt is returned.

[code]

the version of waarp is `3.0.7-beta`; with `WaarpGatewayKernel-3.0.6.jar`

When **downgrading** to `WaarpGatewayKernel-3.0.4.jar` the response is fine.

[code]

[2016-10-26 06:11] fredericBregier commented on #198
It seems that in 3.0.6 we removed the CONTENT_LENGTH on april 5th while the proposed patch on wNetty41 from Maxime Robert seems to reintroduce it and seems to fix the issue. But this was not published into Master. Maybe the reason ?

@bcarlin ?

[2016-11-02 00:42] fjudith commented on #198
Resolved after installing version 3.0.7 Beta-1 and netty 4.1.6 Final.

Confirmed using both http et https.

**Reference**
[Forum](https://discuss.waarp.org/t/release-of-waarp-r66-3-0-7-beta1/17)
[Github](https://github.com/waarp/WaarpR66/issues/198)
[MVN](http://mvnrepository.com/artifact/io.netty/netty-all/4.1.6.Final)

**R66 lib directory content**
[code]

[2016-11-11 10:46] fredericBregier commented on #198
@fjudith Thanks for reporting!!!
@bcarlin Maybe time for a new release ?

[2016-11-17 07:50] type0lang opened #203 "Rest API - Internal Server Error when "getAll""
When invoking simple endpoint like `curl -XGET http://[mydns]:8068/hosts/` or `curl -XGET http://[mydns]:8068/rules/`
an internal server error response is returned
[code]
and a NPE is raised:
[code]

[2016-11-21 05:33] fjudith opened #204 "Setup bi-directionnal transfer between 2 R66 instances"
I'm trying to setup bi-directionnal transfer with two r66 instances to simulate exchange with a tier organization.
Therefore each instance is running on its own key.

Could you provide guidelines to setup such typical scenario ?

I'm getting the following error when attempting to import key from server1 to server2.

[code]

[2016-12-03 00:22] MichaelReicheOracle opened #205 "bad sql for oracle db"
02/12/2016/16:16:54.902 ERROR [org.waarp.common.database.DbPreparedStatement] [main] org.waarp.common.database.DbPreparedStatement.executeQuery(DbPreparedStatement.java:282) : SQL Exception executeQuery:SELECT count(*) FROM  HOSTS  WHERE ISPROXIFIED = true ORA-00904: "TRUE": invalid identifier

[2016-12-03 09:37] fredericBregier commented on #205
Yes due to a non ascendant compatibility of Oracle... and non compatibility with other databases...

This issue among others with Oracle are known. Thank you for reporting!

[2016-12-05 20:28] MichaelReicheOracle opened #206 "r66command.sh does not report error if jdbc driver is not in classpath (server.sh does)"
r66command.sh does not report   error if jdbc driver is not in classpath.  (server.sh does).

[mreiche@den00tuy ~/waarp]$ r66command.sh org.waarp.openr66.server.ServerInitDatabase config/config-serverA.xml -initDb
Start R66Command
R66Command stopped
[mreiche@den00tuy ~/waarp]$
[mreiche@den00tuy ~/waarp]$ cat log/R66Client.log
[mreiche@den00tuy ~/waarp]$

[mreiche@den00tuy ~/waarp]$ vi  bin/Linux/b

[2016-12-05 20:36] MichaelReicheOracle opened #207 "Avoid modifying scripts for path to ENV_R66"
You can avoid modifying the shell scripts for the path to ENV_66 like this ;

echo Start R66Command
# Change path if necesary
SCRIPT=$(readlink -f $(which "$0"))   # some people recommend using 'readlink' (which also requires the use of 'which')
DIR=$(dirname "$SCRIPT")  # if you don't use readlink you could just use $0 here instead of $SCRIPT
. $DIR/../ENV_R66
.
.
.

[2016-12-05 20:39] MichaelReicheOracle commented on #207
Also - if you rely  on the standard $JAVA_HOME variable, ENV_R66 won't need to be modified for the location of Java...

 export JAVABASE="$JAVA_HOME"

And you could also determine R66HOME from the relative location of the SCRIPT.

[2016-12-05 20:49] fredericBregier commented on #207
nice proposal! Thanks!!!
@bcarlin good idea, isn't it ?

[2016-12-05 20:50] fredericBregier commented on #206
In general, I would recommend to have only one of the JDBC driver in the lib directory, not all. If you planto use Oracle and not Mysql or PostgreSql, then keep only this one.
I know this not mandatory but recommanded.

[2016-12-05 21:31] MichaelReicheOracle opened #208 "getting config-serverA.xml to work // Decrypt Error javax.crypto.IllegalBlockSizeException: Input length must be multiple of 8 when decrypting with padded cipher"
I'm trying to use the   config-serverA.xml configuration.  After plugging my database into the config file, I add rows to the HOSTS db table as follows, but when I run "Check" from the AdminGui, I get the error below (Input length must be multiple of 8 when decrypting with padded cipher).  Am I setting HOSTS.HOSTKEY to the correct value?

AdminGui -> Edit Password shows

/scratch/mreiche/waarp/con

[2016-12-06 00:07] MichaelReicheOracle commented on #208
Turns out I made a typo in the key in the database.  It should be 3e7b3cf58ddd8133895411c6a078870d

And the error was "Given final block not propertly padded" (below).   The " Input length must be multiple of 8 " was from an earlier mistake I made.

05/12/2016/15:59:27.208 WARN [org.waarp.common.crypto.KeyObject] [LocalWorker-24] org.waarp.common.crypto.KeyObject.decrypt(KeyObject.java:315) : Decr

[2016-12-06 00:07] #208 closed

[2016-12-21 16:07] bcarlin commented on #198
Hi and sorry for the long time before this message.
waarp/WaarpGatewayKernel#34 should fix this once and for all!

@fredericBregier I will release a new beta probably in the first week of january...

[2016-12-22 12:53] fredericBregier commented on #198
@bcarlin Great!! A new year and a new version coming !! ;-)

[2016-12-22 15:00] bcarlin commented on #198
Actually, I've had other testers... it will be a christmas release !

[2016-12-28 12:28] gulecroc opened #211 "PeSIT specification"
Hello,

I would like to know if you have any PeSIT specification ?
We are using CFT/Gateway with PeSIT and i would like to impl this procotol too.

Regards,
Guillaume

[2016-12-28 13:22] fredericBregier commented on #211
We do not implement pesit. The specifications were public sometimes ago but not easy now to find .
Moreover any implementation has specifics which tends to not really support other implementations (except considering restriction in usage since extensions bring improvements).
This protocol is quite complex , giving a lot of incompatibility issues between implementations.

If you're using axway cft,

[2016-12-28 13:22] #211 closed

[2016-12-28 13:58] alexbarta commented on #198
Hi @bcarlin , @fredericBregier

Tried out new christmas release 3.0.7! Now I can see http://<ip>:8066 webapp but https is still having issues . I can load htmls but no static components are loaded. Chrome throws net::ERR_CONTENT_DECODING_FAILED for all static components. This is how login page looks right now:
![image](https://cloud.githubusercontent.com/assets/9393789/21523282/fdd27c00-cd0c-11e6-

[2016-12-29 16:26] alexbarta commented on #198
I found why it wasn't working, actually I have set `<usehttpcomp>True</usehttpcomp>` in config server. Turning that to "False" solved the problem.

[2016-12-29 16:40] alexbarta opened #212 "Problem w/mysql-connector-java-6.0.5.jar waarp 3.0.7"
It seems not to be compatible with old mysql setup:
[code]
[code]
Any insight of which dbdriver should I use instead?

Regards

Alex

[2016-12-30 10:02] fredericBregier commented on #198
Thanks for the feedback

[2016-12-30 10:18] fredericBregier commented on #212
The issue is due to version 6 of driver, which changes its class name, while staying with version 5 should work for now .
Note that version 5 works with last mysql server.

@bcarlin. We should add one option to allow to specify the real jdbc class name, since this could be an error with other drivers too (as version 6 of mysql driver or mariadb driver where the class name changed but not the api),

[2017-01-02 14:05] bcarlin commented on #198
Thank you @alexbarta !
I'm opening a new issue for the `usehttpcomp` bug.

For the MULTIGET error, it seems similar to #203. Do you have the same error ?

[2017-01-02 14:07] bcarlin opened #213 "Static assets cannot be decoded with `usehttpcomp`"
Chrome throws net::ERR_CONTENT_DECODING_FAILED for all static components.

Originally reported by @alexbarta in #198

[2017-01-02 14:16] bcarlin commented on #197
hi @kregory. Sorry for my late answer...
The error is not related to the database creation.
In the last few lines of the logs, you have the cause:

[code]

The error is in your XML config file: It seems the path given in the `<conf>` tag cannot be resolved.

[2017-01-02 14:17] bcarlin commented on #197
The original problem seems to be resolved... I'm closing the issue

[2017-01-02 14:17] #197 closed

[2017-01-02 14:32] alexbarta commented on #198
Yes, it's the same issue, I think we can move the discussion there.

[2017-01-02 14:55] bcarlin commented on #198
Thank you!

Discuission about the multiget error continues in #203

[2017-01-02 14:55] #198 closed

[2017-01-03 17:26] bcarlin commented on #212
:sweat: the switch to Mysql Connector/J 6.0 was too premature... It is not yet in general availability (only at a developer preview stage). As it is mentioned on https://dev.mysql.com/doc/connector-j/6.0/en/connector-j-versions.html , it is only compatible with Java 1.8 and drops support for MySQL 5.1 which is imo still widely used... I shouldn't have let this go...

A 3.0.8 version is already bak

[2017-01-05 12:48] charbonnier666 opened #214 "REST API - Insert new host"
Inserting a new host with a body like this:

[code]

I got this error on server:

[2017-01-05 13:52] fredericBregier commented on #214
HOSTKEY must not be empty or null, as HOSTID and ADDRESS.

That is the source of your issue.

[2017-01-10 16:54] #214 closed

[2017-01-28 21:15] alexbarta opened #215 "REST API call Post /rules not working"
Hi @fredericBregier, @bcarlin

It seems I have found a strange bug when creating rules by POST on api endpoint. Compare the following commands.
**# working command**: I left unfilled  ```"SERRORTASKS": "<tasks></tasks>"```
[code]
**# not working command**, all tasks are filled but returns ```{
  "X-method": "POST",
  "path": "/rules",
  "base": "rules",
  "uri": {},
  "message": "Bad Request",
  "

[2017-01-30 18:41] type0lang opened #216 "CORS"
Does the 3.0.7 Rest API support CORS ?

Invoking the rest api from another domain (with the browser, in a CORS compliant way) is resulting to a "Same Origin Policy" error. Any clues?

Thanks

[2017-01-30 21:57] alexbarta opened #217 "Monitoring Rest API GETs on /server always return zero"
Hi @fredericBregier , @bcarlin

I'm trying to collect metrics from GET on /server resource. Even when some transfer is ongoing, almost all metrics are zero valued (except NetworkConnections, NbThreads, SecondsRunning, and several timestamps). Do you have some insight on this one? Actually I'm very confused..

Regards,

Alex

[code]

[2017-01-31 06:46] fredericBregier commented on #217
That's look like a bug ;-)
Thanks for reporting. We will investçigate.
@bcarlin ?

[2017-01-31 17:51] alexbarta opened #218 "Rest Authentication on Waarp, question"
Hi,

I've managed to authenticate myself on rest interface. But login fails when host port equal o greater than zero as shown here https://github.com/waarp/WaarpR66/blob/4a17c3e8f802b7ea60197d63a3352c39c57c50b1/src/main/java/org/waarp/openr66/context/authentication/R66Auth.java#L289.

By setting host port parameter equal to -1 for server on the interface, I got it working but what's the reason beh

[2017-01-31 20:30] alexbarta opened #219 "r66multisyncsend fails when subfolder is present"
Hi @fredericBregier , @bcarlin

It seems I have found another bug. This time I'm running a multireceive transfer using filename regex '*' . Currently my out folder structure on the server is the following:
[code]
I have two files to receive, but one is contained in a subfolder (test2.txt in this case). When running the following command `r66multisyncsend -to serverwaarp-ssl -rule rule4 -file '*'`

[2017-02-01 19:01] fredericBregier commented on #219
Probably yes, this is a bug in the sens it does not support initially subdirectories. We might consider to extend this to support recusrivity.
@bcarlin WDYT ?

[2017-02-01 19:03] fredericBregier commented on #218
- Host port with 0 = client host (so no real port assigned) but possibly certificate
- Host port with -1 = user authentication, meaning no port at all neither certificate

[2017-02-02 10:40] alexbarta commented on #218
Ok got it. But what do you mean exactly by certificate? JKS keystore certificate ?
Thanks for the reply.

Alex

[2017-02-02 18:42] fredericBregier commented on #218
Hmm, I was perhaps to short or to quick in the response.
Every host in the database has at least 1 name, 1 port and 1 password (encrypted)
- if port > 0, it is a server and could be called back at any time
- if port = 0, it is a client (or so) and could only be the source of the requests (so the server cannot calles back the client since no port is defined)
- if port < 0, this is an admin account

[2017-02-03 09:53] alexbarta commented on #218
Ok that makes sense. I think you can close this one.

Thanks again.

Alex

[2017-02-03 13:42] fredericBregier commented on #218
Thank you !

[2017-02-03 13:42] #218 closed

[2017-02-23 15:00] alexbarta opened #220 "Having troubles posting rule task"
Hi @fredericBregier , @bcarlin

Currently I have some trouble creating a new rule (server return 400), here below my post body:
[code]
The log:
[code]

When I remove RERRORTASKS , post ends up correctly 200. When I insert manually the task in the web gui I get no error, so it seems is a REST problem..

Regards

Alex

[2017-02-23 15:33] alexbarta commented on #220
Sorry I meant **RPOSTTASKS** field is causing trouble.

[2017-02-26 11:59] alexbarta opened #221 "Issue updating task via REST"
Hi @fredericBregier , @bcarlin

I'm trying to update rule task via REST PUT request:
[code]
However it fails with 500 Internal Server error Code and the following exception appears server side:
[code]

Regards

Alex

[2017-02-26 18:20] alexbarta opened #222 "Rule update via REST fails silently"
Hi @fredericBregier , @bcarlin

Hi I found probably a new issue, now I'm trying to put following body to ``/rules/LUNA__ACEAFATTURE.OUTBOUND.RECV``uri
[code]
Curiously, I receive 200 HTTP code but rule is not updated.
here the answer body:
[code]
Regards

Alex

[2017-02-28 18:00] alexbarta opened #223 "Waarp server lost Mysql connection"
Hi @bcarlin , @fredericBregier

Today my waarp server lost connection link to mysql database and following exception has been logged out :
[code]

Do you have any recommendation on avoiding this problem in the future? (Besides autoReconnect=True parameter.. )

Regards

Alex

[2017-03-01 14:33] alexbarta opened #224 "Is it possible to force positive transferid integers?"
Hi @fredericBregier , @bcarlin

handling dashes  at the beginning of a filename is very annoying, in bash for example, moving a file with such name does not work:

[code]

Is there a way to force positive id generation via waarp?

Regards

Alex

[2017-03-02 09:22] bcarlin commented on #224
Waarp R66 uses in part database autoincrements (at least for the part starting with a minus) as transfer ids, starting the sequence at the lowest allowed value (-2^63 + 1).
You can just reset the sequence at 0 or 1 in your database (the sequence is named runseq) to only have positive ids.

[2017-03-02 13:30] alexbarta commented on #224
Thanks! I'll try and report back here

Alex

[2017-03-02 17:11] alexbarta opened #225 "Handling white spaces in R66 transfer"
Hi @fredericBregier , @bcarlin

R66 seems not handle white spaces correctly. For example when I generate a file (example below) and do r66multisyncsend '*.txt' :

[code]

when I do MOVERENAME to #ORIGINALFILENAME#  results into a truncated filename to first whitespace:

[code]

Any advice on this ?

Thanks,

Regards

Alex

[2017-03-03 17:16] alexbarta commented on #223
Hi, I have set "autoReconnect=true" in jdbc connection string  but still waarp misses database link..

Anyone can help please?

Thanks

Alex

[2017-03-08 14:12] alexbarta commented on #223
Hi,

I noticed that waarp server does open a lot of connections to MySQL, but most them are sleep status.

It seems that waarp server never closes connection to database at the end of a transaction, eventually saturating MySQL connection pool and subsequently generating connection issues.

[code]

[2017-03-08 14:32] bcarlin commented on #193
Any news on that ?

[2017-03-08 14:36] bcarlin commented on #199
It turns out there are incompatibilities between Waarp R66 before and after 2.4.10. We are currently working on that issue.

[2017-03-08 14:45] bcarlin commented on #200
It might be interesting to add support for other encryption algorithms (3DES, Blowfish, AES, etc...).
We accept pull requests for that.

[2017-03-08 15:07] bcarlin commented on #204
I reckon there are two possibilities:

- the password was not encrypted with DES (while Waarp password tool can encrypt passwords using blowfish, Waarp R66 only supports DES)
- the password was not encrypted using the same DES key used to encrypt it (DES is symmetric)

[2017-03-08 15:18] bcarlin commented on #205
There are a lot of issues with Oracle for a small part of the user base... We will fix it, but it is not a priority for us.
However, we accept PR if you have a fix for that.

[2017-03-08 15:23] bcarlin commented on #206
There is, however a bug on that to be fixed: Even with no JDBC driver at all in the classpath, initdb remains silent when it should fail.

[2017-03-08 15:27] bcarlin commented on #207
it's a good idea!
We are actually preparing a new distribution of Waarp R66. We rely on that to achieve portability.
Though not complete yet, we will start to ship this new distribution with next version.

Is it necessary to change ENV_R66 as well ?

[2017-03-08 15:45] bcarlin commented on #216
It might be a default of Netty... We will investigate it

[2017-03-08 15:47] bcarlin commented on #217
It seems indeed to be a bug...

[2017-03-08 16:52] bcarlin commented on #219
IMO, if it was not designed to support subdirectories, then it should either:

- completely ignore test2.txt
- fail on trying to send test_folder

(mabe even both!)

It short term, I think we should just ignore directories.

In the long term, the ideal for me would be to keep the same semantics as other tools that copy files (cp, scp, etc...):

- The same command should be used to send one or more

[2017-03-08 17:11] bcarlin commented on #223
We observed the same behaviour with PostgreSQL and are looking into it!

[2017-03-08 17:13] bcarlin commented on #223
Also the problem of lost connections looks very similar to #196

[2017-03-08 18:20] bcarlin commented on #225
I'm afraid that MOVERENAME as well as all File manipulation programs (COPY, COPYRENAME, etc...)
are affected by this.
The parser for path is too naïve to handle whitespaces like that.

There should be an escape mechanism for that (for example quotes: `"me file.txt"`).

I think there might be, however, a quick fix for your case: the whitespace is introduced with the substitution of `#ORIGINALFILENA

[2017-03-09 10:46] alexbarta commented on #219
I agree, in the short term subfolders should be ignored without failing.. maybe a command line that allows subfolder to be considered.

[2017-03-10 10:29] bcarlin commented on #203
Those request needs a body to work.
While we fix that, you can just send an empty json object as the body. Default filters will be applied:

[code]

Note: for the endpoint `/hosts`, the default for the `ISACTIVE` filter is `false`, so anyway, a better base query would be

[code]

[2017-03-13 13:15] alexbarta commented on #224
Hi Bruno,

I set Seq parameter as 1000000000000000000 just to have same id char length. Do you see any drawbacks ? (I don't know if reducing the id range may compromise the uniqueness of the id in waarp...)

[2017-03-14 14:23] type0lang commented on #223
@bcarlin @fredericBregier
Can you please address this issue within the 3.0.8 milestone ? Thx

[2017-03-15 10:40] alexbarta opened #227 "How do I insert '>' or '>>' redirects in rule tasks ?"
Hi,

I have tried to redirect command's output to file in EXEC tasks using '>' and '>>' but didn't  succeed.
I tried '&gt;' but didn't work either.

Any advice?

Best

Alex

[2017-03-15 11:23] bcarlin commented on #227
EXEC and all similar commands (EXECOUTPUT, EXECRENAME) are not regular shells.
Their path field must be an executable (it will be searched in the system PATH, or you can give an absolute path) followed by arguments *separated by spaces*.
It means that redirections and pipes and backgrounding processes **will not** work.

to redirect the output, you should put it in a script, and put that script in

[2017-03-15 11:24] #227 closed

[2017-03-15 11:58] alexbarta commented on #227
Ok clear! Thanks

[2017-03-16 14:05] #203 closed

[2017-03-17 10:29] bcarlin commented on #215
IMHO, it is not a bug.

When I ty your commands (on version 3.0.7) I got:

[code]

I run both curl command twice. For both, I have the same results:
- It works the first time
- It fails the second time with the same error message as you ("code":400,"detail":"Issue while inserting to database")

Which is normal. As per the [REST documentation](http://waarp.github.io/Waarp/WaarpR66RestAPI.html):
- `

[2017-03-17 10:52] bcarlin commented on #220
The query seems incorrect.

When I try the query with your data, I got no error:

[code]

To reproduce your error (I got exactly the same stacktrace in the logs), I had to run a curl request without body:

[code]

I am hinted by the first line of your log:

[code]

The query seems to have no body.

[2017-03-17 11:00] bcarlin commented on #221
Could you please provide the command or a code extract of how you run the query

[2017-03-17 12:23] bertrandolg opened #229 "REST CreateTransfer command issue"
Hi,

I'm having trouble with the CreateTransfer REST command (Waarp R66 3.0.7). I'm currently testing it with Curl as this :

`curl  -d'{"@class":"org.waarp.openr66.protocol.localhandler.packet.json.TransferRequestJsonPacket", "comment" : "Transfer Request (POST)","requestUserPacket" : 7, "rulename" : "rule1", "mode" : 0, "filename" : "/tmp/testfile", "requested" : "10.0.0.2", "blocksize" : 0,"ran

[2017-03-17 13:13] alexbarta commented on #223
I have compared https://dev.mysql.com/get/Downloads/Connector-J/mysql-connector-java-5.1.39.tar.gz oracle mysql connector md5 with current mysql jar md5 present in waarp releases so far. But they mismatch. What do you think?

[code]

[2017-03-17 18:36] alexbarta commented on #215
Indeed in the previous example I posted, curl did work (sorry about that)! Still having issues with this one:

[code]
Curiously, throws a not enough argument exception (to me looks complete!)
[code]

[2017-03-17 19:35] alexbarta commented on #220
I think it's same issue posted on #215 .

similar  example going wrong on my side:

[code]

I have also tcpdumped the rest invocation
[code]

But still same exception

[code]

[2017-03-17 20:07] alexbarta commented on #221
Sincerely I'm not able to reproduce that issue myself. My best guess, as I directly seen via tcpdump, sometimes body arrives truncated (network issue? python client issue?) and that may provoke the exception above. I tried myself to send an incomplete body on purpose, but suprisingly I get 200 OK

(see "SENDP truncated body element at the end)

[code]

[2017-03-20 15:49] bcarlin commented on #215
Maybe it is an error of copy /past and formatting, but the JSON in your curl command is not correct at char 92:

[code]

look after TESTRECV, the delimiter is `”` (unicode: right double quotation mark) and not `"` (unicode: quotation mark). setting the right quote mark in your command makes it work.

[2017-03-20 17:38] bcarlin commented on #220
Ok... I've nailed it:
if there are no errors in the body (like in #215), there is a bug that affects REST queries whose body is long enough to be splitted in several TCP packets.
In my tests the above curl command generates 3 packets : one with the headers  and two with body data (the first having 944 bytes of data).
In this case, only the last body part is kept, which causes a JSON decoding error

[2017-03-20 20:23] alexbarta commented on #220
great news! thanks a lot

Alex

[2017-03-20 20:35] alexbarta commented on #215
Actually the paste issue is due to mac notepad that replaces double quotes automatically.

[2017-03-21 15:46] bcarlin commented on #221
For the first part, it was probably linked to #220.

Im' looking your last message. It indeed should fail because the body is not valid json...

[2017-03-22 16:54] bcarlin commented on #217
I cannot reproduce it, and all data seem right on my end:

[code]

I do not know what could have gone wrong for you... anything unusual in the logs ?

[2017-03-22 16:58] bcarlin commented on #222
Same thing as your last comment in #221. Will be fixed by waarp/WaarpGatewayKernel#39.

I'm closing this.

[2017-03-22 16:58] #222 closed

[2017-03-22 16:59] bcarlin commented on #193
No feedback... I'm closing the issue

[2017-03-22 16:59] #193 closed

[2017-03-22 17:38] bcarlin commented on #213
In the eantime, the workaround is to keep `<sehttpcomp>false</sehttpcomp>` in in the file server.xml (it is the default value).

[2017-03-22 17:39] bcarlin commented on #224
I do not see why it would be a problem...

[2017-03-23 14:59] alexbarta commented on #224
ok thanks, I think you may close this one

[2017-03-23 19:42] alexbarta commented on #217
In the logs here is the exception that  appears multiple times when /server is invoked.

[code]

[2017-03-24 11:36] charbonnier666 opened #231 "Issue updating HOSTS via REST"
Hi, we've got this problem updating hostkey with REST API,
in insert we've got any problems:

`{
	"HOSTID": "TEST",
	"ADDRESS": "0.0.0.0",
	"PORT": 0,
	"ISSSL": 0,
	"ISACTIVE": 1,
	"ADMINROLE": 0,
	"HOSTKEY": "ZWxldHRyYWlvdGE3Kw==",
	"ISCLIENT": 1,
	"ISPROXIFIED": 0,
	"UPDATEDINFO": 0
}

{
	"X-method": "POST",
	"path": "/hosts",
	"base": "hosts",
	"uri": {},
	"answer": {
		"@model": "DbHostAuth",

[2017-03-24 17:55] #224 closed

[2017-03-27 16:20] bcarlin commented on #231
Ok. Both operations have opposite expectations:
- In creation, the endpoint expects a clear password
- In update, the endpoint expects an encrypted password

As much as it may be disturbing, I do not consider this a bug: it works if the right arguments are given.
However, I reckon that is is not intuitive, and I do not like that. We will have to rework the REST API in depth... This issue will be a

[2017-03-27 16:21] #229 closed

[2017-03-28 09:14] charbonnier666 commented on #231
@bcarlin Understand, but in INSERT rest api encrypt password "under the box", in UPDATE how we can encrypt password before pass it ?

[2017-03-28 10:57] bcarlin commented on #231
Sorry you're right.

The command to generate the password depends on the way you installed it.

If you used the zip files, the command is

[code]

[2017-03-28 10:59] #221 closed

[2017-03-28 13:23] bcarlin commented on #217
Seeing the stacktrace, I thought maybe the issue was specific to MySQL, but I cannot reproduce it either...

A little more context about what happened before that error would help point in the right direction (the full logs for example...)

[2017-03-28 13:25] #215 closed

[2017-03-28 13:44] bcarlin commented on #223
Oracle releases two different jars:
- The one you can download on their website (your link)
- The one they upload in Maven central repository (http://search.maven.org/#search|gav|1|g%3A"mysql"%20AND%20a%3A"mysql-connector-java")

We use the latter.
Both are the same, the difference in the checksums is caused by a single file in the jar which contains the name of the jar.

[2017-03-28 13:44] #212 closed

[2017-03-28 13:48] bcarlin commented on #229
Your command is actually right! This was a bug.

However, to make it easier for you, your query only needs a minimum of 4 arguments:

[code]

[2017-03-29 10:53] bcarlin commented on #217
I think it might be a side-effect of #223 ...

[2017-03-29 13:31] bcarlin opened #234 "Better database connection management"
There are a lot of problems with the way database connections are handled. Amongst others:
- Connections are not alway closed with MySQL (#196 and #223) and PostgreSQL
- Connections are not invalidated when they should (#223 and #217)
- There are conditions where connections cannot be recovered or reopened when the database server closes them

Waarp R66 relies heavily on the database, so it is not

[2017-03-29 13:33] bcarlin commented on #223
@type0lang sadly it won't make it. We are working on a new connection pooling layer to solve that, but it is heavy work...

the work now continues in #234

[2017-03-29 13:33] #223 closed

[2017-03-29 13:34] bcarlin commented on #196
the work now continues in #234 (this ticket regroups all problems about database connections...)

[2017-03-29 13:34] #196 closed

[2017-03-29 13:34] bcarlin commented on #217
the work now continues in #234 (this ticket regroups all problems about database connections...)

[2017-03-29 13:34] #217 closed

[2017-04-03 14:52] alexbarta opened #237 "question: 3.0.8 officially released?"
Can we proceed with our waarp update?

Thanks,

Alex.

[2017-04-03 16:30] bcarlin commented on #237
Yes you can. It has been released

[2017-04-03 16:30] #237 closed

[2017-04-08 09:30] fjudith opened #238 "http-admn: Error when accessing Transfer/Listing"
Hello,

We're getting the following error message when using new Waarp-R66 http-admin webui.
Notice that it does'nt appear with legacy http-admin (static).

[code]
However it does'nt avoid accessing the transfer list. This message is raising each time the page is refreshed.

[2017-04-13 09:14] fjudith opened #242 "How to generate rest signing key ?"
Hello,

Could you please provide the command line used to generate the following REST API key ?

[code]

[2017-04-13 17:55] bcarlin commented on #242
Message signature in Waarp R66 REST API uses HMAC-SHA256.
It is a 512bit random key.
One way to generate it on Linux is with the command :

[code]

[2017-04-13 17:57] fjudith commented on #242
Thank you !

Adding it to the docker image to create it first boot only.

Kind regards

[2017-04-13 17:58] bcarlin commented on #242
:+1:

[2017-04-13 18:07] fjudith commented on #242
It is required to this because Kubernetes persistent volumes does not mount similarly as Docker do.

Docker performs an initial copy from source image to the volume at first boot, where k8s mounts an empty folder.

[2017-04-26 15:28] alexbarta commented on #234
Hi Bruno,

I noticed that unclosed sockets are spawn in ERROR TRANSFER cases.

[code]
My client is faking multiple file send at once and actually I have topped max connections in mysql instance:

[code]

[2017-04-26 19:00] alexbarta opened #243 "Remote ip passthrough waarp proxy"
Hi @bcarlin,

Is it possible to valorize REMOTEHOSTADDR var, as original remote client ip when using a r66 proxy?

Regards

Alex

[2017-04-30 18:23] alexbarta opened #244 "Monitoring bandwidth issue"
Hi @bcarlin,

I have noticed some anomalies with OutBandwidth/InBandwidth that didn't make this variable comparable with average transfer speed (file size/seconds elapsed). Looks that netty trafficCounter is erroneously shifted by 7 in B/s -> KB/s transformation and not by 10 as it should.
I did modify myself the shift from >> 7 to >> 10 and actually obtained correct value this time

https://githu

[2017-05-02 13:51] alexbarta commented on #225
Any news on this one?

Regards

Alex

[2017-05-03 16:08] alexbarta opened #245 "Multiple regex in r66multisyncsend"
Hi @fredericBregier , @bcarlin
Is it possible to specify multiple regexe in the same r66 send command? Like -file "*.xml" and "*.txt"

Regards

Alex

[2017-05-08 15:24] alexbarta opened #246 "Transfer of files larger than 1.9M fails (shutdown error) on AIX w/Java6"
Hi @bcarlin, @fredericBregier ,

I have some trouble sending files from client with mysql db connection on AIX. Receiving works fine.
When block size was equal to 4096, sent file went error after 136k transmitted. I tried to increase block size to 65536, in this case file got truncated to 1.9MB . The ratio truncated file size / block size is something closer to 30.

Any insight?

Regards

Alex

AI

[2017-05-11 10:21] bcarlin commented on #234
Thank you for this info.
We are adding this test case to the rewrite

[2017-05-11 10:42] bcarlin commented on #244
I do not see any issue here.
Bandwidths are given in kilobits per second (`Kb/s`) while `trafficCounter.last{Read,Write}Throughput()` is in bytes (`B`) as the comment says (`// B/s -> Kb/s`)

The `>> 7` conversion does two things: convert bytes in bits (`* 8` or `<< 3`) and bits to kilobits (`/ 1024` or `>> 10`).

[2017-05-11 10:42] #244 closed

[2017-05-11 13:54] bcarlin commented on #245
Hi,

Though the patterns used for -file are not strictly regexes (it is more the expansion of * and ? symbols to substitute several or one characters), this arguments can accept multiple patterns separated by a comma (,).

[2017-05-11 13:54] #245 closed

[2017-05-11 13:55] #242 closed

[2017-05-11 14:16] bcarlin commented on #246
We solved your problem on another media, but I'm reposting it here to serve as reference for other users.

There are some issues with the version of Netty shipped with Waarp R66  (netty-all 4.1.6) that only affects Waarp R66 with Java 6 on AIX.
Some of them can be solved using an newer versions or by upgrading Java.

In your case, it was solved by upgrading to Java 8.

[2017-05-11 14:16] #246 closed

[2017-06-01 07:06] type0lang opened #249 "Status of a file transfer"
Enhancement proposal:
Hi it would be great if the waarp client returns the elapsed status of a transfer. For example given an r66syncsend the api may return an observable future with a long representing the number of bytes transferred. What about it ?

Thank you

[2017-06-13 16:00] bcarlin commented on #249
This is a nice idea!
If you have  starting idea for the implementation, we do acept pull requests ;)

[2017-07-28 14:17] vinayindvg opened #250 "Unable to start serve"
The data area passed to a system call is too small.
Failed to start service

[2017-07-31 08:11] marakiis commented on #250
Which command did you use ?
Where did you find your waarp installation files ?

[2017-08-01 13:48] alexbarta opened #251 "Memory leak on Waarp Proxy service"
Hi @bcarlin

today proxy service dumped following warn log. File transfer was not available having proxy service in this state.

Any hints?

Regards
[code]

[2017-08-02 16:19] bcarlin commented on #251
Hi @alexbarta

What makes you say it is a memory leak ?
From my experience, this is more of a system error that happens :
* when the -Xmx option of the java command that started the process is bigger than the available memory on the server (then you can decrease it)
* when the -Xmx option of the java command that started the process is lower that the amount of memory the process must use (then you

[2017-08-02 19:01] alexbarta commented on #251
Hi Bruno,

We currently have for 8GB available and -Xmx option  is set to 4096 now. This kind of issue, happens on week/week and a half basis (same data transfer rate though). On service reboot allocates 2GB to start off, and then memory grows over week, provoking the out memory error described above.
I could be wrong but sounds like netty or something else is leaking memory..  (On internet there

[2017-08-24 16:27] bcarlin commented on #251
It does indeed sounds like a memory leek...
We are looking into it

[2017-11-06 11:21] alexbarta opened #253 "Waarp Proxy spawning lots of connection towards backend server"
Hi @bcarlin

I have noticed that there are more than 400 hundred connections spawned by the proxy itself towards the backend proxy and then the waarp server. All these connections use ephemeral ports that are never released. Do you have any idea of what may cause this?

Regards

Alex.

[code]

[2017-11-07 16:07] alexbarta commented on #253
I think I've found the cause of the persistent socket. It seems that SSL handshake error triggers the issue.

However I don't know how to reproduce such error. Any hints?

Regards,

Please see the log
[code]

[2017-12-06 14:03] marakiis commented on #253
I'm looking into this error.
As it seems certain exceptions causes the server to abandon the transactions without closing the session.
I will give more details as I found them.

[2017-12-18 15:41] bcarlin commented on #250
No response, I'm closing!

[2017-12-18 15:41] #250 closed

[2017-12-18 15:44] #238 closed

[2017-12-18 15:50] #225 closed

[2018-01-23 13:17] marakiis commented on #207
The new packaging (Waarp 3.0.9) solve this issue.

[2018-01-23 13:17] #207 closed

[2018-01-23 13:19] bcarlin commented on #199
Fixing this issue asks for protocol change that are not possible in version 2.4.10 and earlier (the breaking change is precisely adding possibilities to evolve the protocol without braking things).

[2018-01-23 13:19] #199 closed

[2018-01-23 13:20] bcarlin commented on #204
Is it still an issue ?